body{
  margin: 0;
  background: rgba(196, 246, 249, 0.99);
}
#root{
  height: 100vh;
}
.weather{
  width: 350px;
  margin: 0 auto;
}
.title{
  font-size: 25px;
  padding: 30px 0;
}
input{
  font-size: 15px;
  padding: 6px 12px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
}
button{
  font-size: 15px;
  padding: 6px 12px;
  margin-left: 5px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.weather_error{
  font-size: 18px;
  color: crimson;
}
.weather_block{
  font-size: 18px;
  padding-top: 5px;
  margin: 0;
  text-align: left;
}

